<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Yelp Camp Project" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>YelpCamp Project</title>

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
          <li><a href="./components.html" title="">05 : 100 Days of Code</a></li>
        </ul>


          <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            <li><a href="./work.html" title="" class="active">001</a></li>
            <li><a href="./worktwo.html" title="">002</a></li>
            <li><a href="./workthree.html" title="">003</a></li>
            <li><a href="./workfour.html" title="">004</a></li>
            <li><a href="https://github.com/Naghiyev1/flight-deal-finder" target="_blank" title="">005</a></li>
            <li><a href="https://github.com/Naghiyev1/morse-code-converter" target="_blank" title="">006</a></li>
          </ul>


      </div> 
    </div>
  </nav>
</header>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/work001-01.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">001 : Yelp Camp Project</h1>
          </div>
          <p>This is a full-stack web application project for a fictional start up called Yelp Camp. On this web application users can create their own campgrounds, add campground images, view, comment and rate on others' campgrounds.</p>
          <p><b>Built with:</b></p>
          <p><b>Front-end:</b> EJS, Bootstrap, MapBax</p>
          <p><b>Back-end:</b> Node JS, Express, Mongo DB, Mongoose, Passport, Passport-local, Express-Session, Method-override, Connect-flash, Cloudinary</p>

          <blockquote>
            <p>See it in action on Hekoru</p>
            <small class="pull-right"><a href="https://fierce-retreat-63499.herokuapp.com/">Yelp Camp Project</small>
          </blockquote>
        </div>
      </div>

      
      
      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/Yelp-camp-1.png" class="img-responsive" alt="">
            <p>Landing Page</p>
          </div>
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/Yelp-camp-4.png" class="img-responsive" alt="">
            <p>User Registration Page</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <img src="./static/assets/images/Yelp-camp-2.png" class="img-responsive" alt="">
        <p>Campgrounds Page Page</p>
      </div>

      <div class="col-xs-12 col-md-6">
        <img src="./static/assets/images/Yelp-camp-3.png" class="img-responsive" alt="">
        <p>Campground View Page</p>
      </div>

    </div>
  </div>
</div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© Heydar Naghiyev | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>